* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body { 
    background-color: rgb(250, 236, 218);
    margin: 0;
   display: grid;
   min-height: 100vh;
   grid-template-rows: auto 1fr auto;
   overflow-x: hidden;
   background-color: bisque;
}

.menu {
    display: flex;
   list-style: none;
   justify-content: space-around;
   background-color: blueviolet;
   width: 100%;
   height: 100%;
   font-size: 20px;
li{
    align-items: center;
    justify-content: space-around;
    justify-content: center;
} 
a { display: flex;
    color: rgb(247, 164, 222);
    border-radius: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
    &:hover {
        border: 10px solid rgb(247, 164, 222) 
    }

    } 
}
.no {
    margin-top: 15px;
    margin-bottom: 15px;
}
.sectionbody{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4,auto);
   
}
.imgdiv img{
    width: 100%;
}
.imgdiv {
    grid-row: 1/3;
    grid-column: 4/9;
    width:600px;
    height:300px;
}
.id3 { 
    text-align: center;
    color: blueviolet;
    font-style: italic;
    font-size: 30px;
}

footer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4,auto);
    width: 100%;
    position: relative;
    bottom: 0px;
}
.imgfooter img {
    width: 100%;
    margin-top: 20px;
}

.imgfooter a{ 

    width: 40%;
}
.full {
    position: fixed;
    width: 100%;
    bottom: 0px;
}
.divpie{
    margin: 15px 15px 15px 15px;
    width: 55%;
     font-size: 30px;
     grid-column: 2/ 3;
}
.colu {
    margin: 15px 15px 15px 15px;
}
.colu1{
    margin: 5px 5px 5px 5px;
    width: 100px;;
    height:100px;
}
.colu2 {
    width: 35px;
    height: 35px;
}
.spanfot {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}
p {
    background-color: rgb(255, 144, 255);
    font-style: italic;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.galeria img {
    width: 100%;
    height: 250px;
    margin: 10px 10px 10px 10px;
   .col-lg-4 {
     margin: 0 !important;
       padding: 25px;
      
   }
   &:hover {
    border: 10px solid blueviolet;
    
}
}
.galeriafooter {
    padding-bottom: 15px;
   
}

.sectionnos{
    display: flex;
    border-top:solid 5px blueviolet;	border-right:solid 30% blueviolet;
    border-bottom:solid 7px blueviolet;
    border-left:solid 30% blueviolet;
   padding: 5px;
   margin: 5px;
   justify-content: center;
   .sectionnosjan {
    padding: 5px;
   color: blueviolet;
   justify-content: center;
}
}
.sectionnos2{
    border-top:solid 5px blueviolet;	border-right:solid 12px blueviolet;
    border-bottom:solid 7px blueviolet;
    border-left:solid 12px blueviolet;
   padding: 5px;
   margin: 5px;
   .sectionnosjan23 {
    padding: 5px;
   color: blueviolet;
   justify-content: center;
}
}
.primeraID{
    display: flex;
   margin: 20px 20px 20px 20px;
   padding: 20px 20px 20px 20px;
   width: 20%;
   justify-content: flex-end;
} 

.primeraID2 {
    height: 55px;
    width: 55px;
}

    
@media screen and (min-width:320px){
    a{
        text-decoration: none;
    }
    
    .menu {
        display: flex;
       list-style: none;
       justify-content: space-around;
       background-color: blueviolet;
       width: 100%;
       height: 100%;
       grid-column: 1/ 12;
       text-align: center;
    }
    .menu li{
        align-items: center;
        justify-content: space-around;
    } 
    .menu li a {
        color: rgb(247, 164, 222);
        padding: 20px;
    }
    .menu li a:hover{
        color: white;
    }
    .sectionbody{
        display: grid;
        grid-template-columns: repeat(12, 0.5fr);
        grid-template-rows: repeat(4,auto);
       
    }
    .imgdiv img{
        width: 300px; 
        grid-row: 1/4;
        grid-column: 8/12;
    }
   
    .id3 { 
        grid-row: 1/5;
        grid-column: 1/3;
        color: blueviolet;
        font-style: italic;
        font-size: 10px;
    }
    footer {
      display: flex;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4,auto);
        width: 100%;
        background: blueviolet;
    }
        
   
.imgfooter img {
        grid-column: 1/ 3;
        width: 100%;
    }
    
.imgfooter a{ 
      grid-column: 1/ 3;
    }
.divpie{
        font-size: 20px;
      grid-column: 2/ 4;
  }
.primeraID{
display: flex;
justify-content: space-between;
}          
.galeria {
    display: flex;
}
.h3 { 
    display: flex;
    justify-content: center;
    }

.column {
        flex: 100%;
}

.primerID2 {
    height: 30px;
    width: 30px;
}
 
@media screen and (min-width: 1200px) {
    .column {
        flex: 20%;}
}
.id3 { 
    grid-row: 1/5;
    grid-column: 1/4;
    color: blueviolet;
    font-style: italic;
    font-size: 40px;
}
.menu {
    display: flex;
   list-style: none;
   justify-content: space-around;
   background-color: blueviolet;
   width: 100%;
   height: 100%;
li{
    align-items: center;
    justify-content: space-around;
} 
a {
    color: rgb(247, 164, 222);
    padding: 20px;
}
&:hover{
    color: white;
}
}

}